<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
		<!-- Header-->
	<div th:replace="layout/layout::navegation"></div>
		<header th:replace="layout/layout::header"></header>
		
			<form th:action="@{/serie/add}" th:object="${serie}" method="post"
				class="signin-form d-md-flex m-4 row justifi-content-center">
				<div class="half p-4 py-md-5">
					<div class="w-100">
						<h3 class="mb-4">Serie nueva</h3>
					</div>
					<div class="form-group mt-3">
						<label class="label" for="nombre">Nombre</label> <input
							type="text" th:field="*{nombre}" class="form-control"
							placeholder="Nombre">
					</div>
					<div class="form-group mt-3">
						<label class="label" for="puntuacion">Puntuacion</label> <input
							type="number" th:field="*{puntuacion}" class="form-control"
							placeholder="Puntuacion">
					</div>
					<div th:if="*{id} != null">
						<input type="hidden" th:field="*{id}">
					</div>
				</div>
				
					<div class="form-group">
						<button type="submit"
							class="form-control btn btn-secondary rounded submit px-3">Agregar</button>
					</div>
				
			</form>

	<!-- Section-->

	<div th:replace="layout/layout::footer"></div>
</body>
</html>
